*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-size: 16px;
}

.container {
  width: 570px;
  margin: 0 auto;
  background-color: #555667;
}

.inner-container {
  width: 530px;
  margin: 0 auto;
  padding-bottom: 25px;
}

.header {
  margin: 0 auto;
  width: 571px;
  position: relative;
}

.navigation_bar {
  width: 100%;
}

.map {
  margin: 0 auto;
  background-image: url("../images/map_image.png");
  min-height: 500px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: 100% 20%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: -1;
  margin-top: -5px;

}

.app_background {
  background-color: #fff;
  margin: 0 auto;
  padding-top: 25px;
  margin-top: 20px;
}

.grey_button {
  height:12px;
  width: 70px;
  border-radius: 20px;
  background-color: #29272D;
  opacity: 0.4;
  margin: 0 auto;
  margin-top: -3px;
  margin-bottom: 15px;

}

.search_section {
  min-height: 40px;
  margin: 0 auto;
}



.search_section p {
  width: 440px;
  font-family: 'SF Pro Text', 'Helvetica', sans-serif;
  font-size: 1.1em;
  padding: 15px;
  background-color: #eeeeee;
  border-radius: 10px;
  margin-left: 20px;
}

.search_icon {
  display: inline-block;
  float: left;
  margin-top: 10px;
  margin-left: 45px;
  padding-right: 10px;
}

.close_button {
  display: inline-block;
  float: right;
  margin-top: -40px;
  margin-right: 18px;
}

.washington_state {
  display: block;
  background-color: #1DC55F;
  padding: 20px;
  margin: 0 auto;
  height: 60px;
  margin-top: 25px;
}

.washington_state h2 {
  font-family: 'Raleway', 'Helvetica', sans-serif;
  color: #fff;
  font-size: 1.4em;
  letter-spacing: 1px;
}

.three_dots{
  color: #fff;
  font-size: 2em;
  transform: translate(-803%, -803%) rotate(180deg);
  margin: 230px 0 0 489px;
}

.bus_list h3 {
  font-family: 'Raleway', 'Helvetica', sans-serif;
  font-weight: 600;
  color: #29272D;
  font-size: 1.3em;
  padding: 30px 0 0 25px;
}

ul {
  margin-top: 20px;
}

ul img {
  padding-left: 15px;
  padding-right: 10px;
  display: block;
  width: 13%;
  height: 20%;
  float: left;
  margin-top: 30px;

}

li {
  font-family: 'Raleway', 'Helvetica', sans-serif;
  font-weight: 600;
  color: #29272D;
  font-size: 1.5em;
  line-height: 2em;
  padding-top: 20px;
  margin-left: 5px;
  display: inline-block;
}

.bus_list p {
  font-family: 'Raleway', 'Helvetica', sans-serif;
  color: #29272D;
  font-size: 1.2em;
  padding-left: 80px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

h4 {
  font-family: 'Raleway', 'Helvetica', sans-serif;
  color: #29272D;
  font-size: 1.5em;
  float: right;
  margin-right: 25px;
  padding-top: 50px;
  color: #5863A4;

}

h5 {
  font-family: 'Raleway', 'Helvetica', sans-serif;
  color: #979797;
  font-size: 1.2em;
  float: right;
  margin-right: 25px;
  padding-top: 50px;
}

.bus_container {

}




.out_of_service {
  min-height: 50px;
  margin-top: -10px;
  display: inline;
}

.out_of_service h4 {
  float: right;
  margin-right: 25px;
  color: #ccc;
  display: inline-block;
  padding: 0;
  margin-top: 52px;

}

.special {
  border: none !important;
}
